.top-bar
{
	margin-bottom: 20px;

}
ul
{
	list-style: none;
	margin: 0;

}
footer
{
	margin-top:40px;
	padding:10px;
	text-align: center;
}
.book 
{
	text-align: center;
	border: 1px solid grey;
	padding: 2px;
	margin-top: 3px;
}
.book img
{
	max-height: 250px;
}
.book h4
{
	margin:15px;
}
.price
{
	margin:5px;
}
.price span
{
	color:green;
	background:#f4f4f4;
	padding:10px;
	border:1px solid grey;
	border-radius: 50%;
}
}
footer
{
	margin-top:40px;
	padding:10px;
	text-align: center;
}
[class*="column"] + [class*="column"]:last-child{
	float: left;
}
.eachImage{
	max-height: 400px;
}

h2 span
{
	font-size: 18px;

}