{>"layouts/master" /}

{<body}
{#books}
     <div class="large-3 columns book">
        <img src="/img/{.cover}" class='cover'>
        <h4>{.title}</h4>
        <p>{.truncText}</p>
        <div class="price">Buy it for <span>${.price}</span></div>
        <br>
        <a href="/books/details/{._id}" class="button small">Book Details</a>
    </div>
{/books}
    
{/body}
