{>"layouts/manage" /}

{<body}

	<h2>books</h2>
  <p>
    <a href="/manage/books/add">Add books</a>
  </p>
	<table>
  <thead>
    <tr>
      <th width="200">ID</th>
      <th width="200">book title</th>
      <th width="200">category</th>
      <th width="180"></th>
       <th width="180"></th>

    </tr>
  </thead>
  
  <tbody>
  {#books}
   <tr>
      <td>{._id}</td>
      <td>{.title}</td>
      <td>{.category}</td>
      <td><a class="button tiny" href="/manage/books/edit/{._id}">edit</a></td>
      <td><a class="button tiny alert removeBook"  data-id="{._id}" href="#">delete</a></td>
    </tr>
    {/books}

  </tbody>
</table>

{/body}